{% if link %}<h2>Provide password</h2>
    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors|length > 0 %}
            <p class="errornote">"Please correct errors below."</p>
            {{ form.non_field_errors }}
        {% endif %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
{% else %}
<h2>Link expired.</h2>
{% endif %}