{% extends 'admin/change_form.html' %}

{% block after_related_objects %}
    {% if password_form %}
        <div id="content-main">
            <form action="" method="post">
                {% csrf_token %}
                {% if password_form.non_field_errors|length > 0 %}
                    <p class="errornote">"Please correct errors below."</p>
                    {{ password_form.non_field_errors }}
                {% endif %}
                <fieldset class="module aligned">
                    {% for field in password_form %}
                        <div class="form-row">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.field.help_text %}
                                <p class="help"> {{ field.field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </fieldset>
                <div class="submit-row">
                    <input type="submit" value="Change password" name="change-password">
                </div>
            </form>
        </div>
    {% endif %}
    {{ block.super }}
{% endblock %}